<menu class="main-menu">
	<div class="container row row-space">
		<a href="" class="logo">
			<img src="assets/files/menu2.svg" alt="" class="desc-logo">
			<img src="assets/files/mob-logo.svg" alt="" class="mob-logo">
		</a>
		<ul class="main-menu__list">
			<li><a href="">Marketplace</a></li>
			<li><a href="">Membership</a></li>
			<li><a href="">Partnership</a></li>
			<li class="active"><a href="">Giveaways</a></li>
			<li><a href="">About Us</a></li>
			<li><a href="">Merchandise</a></li>
		</ul>
		<div class="main-menu__right ">
			<div class="main-menu__auth row">
				<img src="assets/img/ava.png" alt="" class="main-menu__avatar">
				<span>Samantha</span>
				<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M7 10L12 15L17 10" stroke="white" stroke-width="1.5" />
				</svg>
			</div>
		</div>
		<div class="main-menu__trigger">
			<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path
					d="M3.44721 7.10557L3 8H18.7639C19.5215 8 20.214 7.572 20.5528 6.89443L21 6H5.23607C4.47852 6 3.786 6.428 3.44721 7.10557Z"
					fill="white" />
				<path
					d="M3.44721 12.1056L3 13H18.7639C19.5215 13 20.214 12.572 20.5528 11.8944L21 11H5.23607C4.47852 11 3.786 11.428 3.44721 12.1056Z"
					fill="white" />
				<path
					d="M3.44721 17.1056L3 18H18.7639C19.5215 18 20.214 17.572 20.5528 16.8944L21 16H5.23607C4.47852 16 3.786 16.428 3.44721 17.1056Z"
					fill="white" />
			</svg>
		</div>
		<div class="mobile-menu">
			<div class="container">
				<ul class="mobile-menu__list">
					<li class="active">
						<a href="">
							Marketplace
						</a>
					</li>
					<li>
						<a href="">
							Membership
						</a>
					</li>
					<li>
						<a href="">
							Partnership
						</a>
					</li>
					<li>
						<a href="">
							Giveaways
						</a>
					</li>

					<li>
						<a href="">
							About Us
						</a>
					</li>
					<li>
						<a href="">
							Merchandise
						</a>
					</li>

				</ul>
			</div>
		</div>
	</div>
</menu>